body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}

.main-nav {
    display: flex;
    align-items: center;
}

h1 {
    margin: 0;
    font-size: 24px;
    font-weight: 700;
}

.nav-links {
    display: flex;
    gap: 20px; /* Espacement entre les liens de navigation */
    list-style-type: none;
    padding-left: 40px; /* Espace entre le titre et les liens */
    margin: 0;
}

.nav-links a {
    text-decoration: none;
    color: #000;
    font-weight: 400;
}

.social-icons {
    display: flex;
    gap: 20px; /* Espacement entre les icônes */
}

.social-icons img {
    width: 32px;
    height: 32px;
    cursor: pointer;
}

.social-icons a {
    display: inline-block;
}
