body {
    font-family: 'Montserrat', sans-serif; /* Assurez-vous que Montserrat est utilisé */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
}

.header-content {
    display: flex;
    align-items: center;
    flex: 1;
    width: auto;
    justify-content: space-between;
}

h1 {
    margin: 0;
    font-size: 24px;
    font-weight: 700;
    text-align: left;
    white-space: nowrap;
}

.main-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.nav-links {
    display: flex;
    gap: 20px;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav-links a {
    text-decoration: none;
    color: #000;
    font-weight: 400;
    position: relative;
}

.dropdown {
    position: relative;
    display: flex;
    align-items: center;
}

.arrow-icon {
    width: 16px;
    height: 16px;
    margin-left: 8px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.dropdown:hover .arrow-icon {
    transform: rotate(-90deg);
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #E3E3E3;
    list-style-type: none;
    padding: 0;
    margin: 0;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 0.8s ease, max-height 0.8s ease;
    border-radius: 10px;
}

.dropdown-menu li {
    padding: 10px 20px;
    transition: box-shadow 0.3s ease;
    display: flex;
    align-items: center;
    white-space: nowrap; /* Empêche le retour à la ligne */
    font-size: 14px; /* Réduit la taille de police */
}

.dropdown-menu li a {
    color: #000;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
}

.dropdown-menu li img {
    width: 16px; /* Réduit la largeur des images */
    height: 16px; /* Réduit la hauteur des images */
}

.dropdown-menu li:hover {
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
}

.dropdown:hover .dropdown-menu {
    display: block;
    opacity: 1;
    max-height: 200px;
}

.social-icons {
    display: flex;
    gap: 20px;
}

.social-icons a {
    display: block;
}

.social-icons img {
    width: 32px;
    height: 32px;
    display: block;
}

.intro {
    display: flex;
    flex-direction: row; /* Changer en ligne */
    align-items: center;
    margin-top: 40px;
    text-align: left;
}

.intro-content {
    display: flex;
    align-items: center;
    max-width: 800px;
    position: relative;
}

h2 {
    font-size: 48px;
    margin: 0;
    color: #000;
    margin-right: 20px; /* Espacement entre "Razioryn." et le texte dynamique */
}

.role-text-container {
    overflow: hidden; /* Cache le texte qui dépasse lors des transitions */
    height: 40px; /* Ajuster la hauteur si nécessaire */
    position: relative;
}

#role-text {
    display: inline-block;
    font-size: 36px;
    font-weight: bold; /* Met le texte en gras */
    position: absolute;
    left: 0;
    top: 0;
    transition: opacity 0.4s ease;
}

@keyframes slideIn {
    from {
        transform: translateY(15px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideOut {
    from {
        transform: translateY(0);
        opacity: 1;
    }
    to {
        transform: translateY(-15px);
        opacity: 0;
    }
}

.role-text-1 { /* UI/UX Designer */
    background: linear-gradient(to right, #002F04, #009505);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: slideIn 0.4s ease, slideOut 0.4s ease 1.6s;
}

.role-text-2 { /* Student */
    background: linear-gradient(to right, #2F0025, #950002);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: slideIn 0.4s ease 1.2s, slideOut 0.4s ease 2.4s;
}

.role-text-3 { /* Developer */
    background: linear-gradient(to right, #02002F, #003495);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: slideIn 0.4s ease 2.4s, slideOut 0.4s ease 3.6s;
}

.role-text-4 { /* Discord Bot Developer */
    background: linear-gradient(to right, #02002F, #003495);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: slideIn 0.4s ease 3.6s, slideOut 0.4s ease 4.8s;
}
